.home {
  &__container {
    height: calc(100vh - 100px);
    align-content: center;
  }

  &__title {
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
  }

  &__subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
  }

  &__img {
    width: 300px;
    justify-self: center;
  }
}

/* ========== BUTTONS ========== */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}
