/* ========== MEDIA QUERIES ========== */
@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .contact__container,
  .contact__initial {
    text-align: initial;
  }

  .contact__container {
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }

  .contact__button {
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 8rem;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container {
    height: calc(100vh - 100px);
    justify-items: center;
  }

  .menu__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    margin-top: var(--mb-6);
  }

  .menu__content {
    padding: 1.5rem;
  }

  .menu__img {
    width: 15rem;
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 500px;
  }
}

/* For tall screens on mobiles y desktop */
@media screen and (min-height: 721px) {
  .home__container {
    height: 640px;
  }
}
